<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/css/style.css">
    <title>{{pageTitle}}</title>
    <link rel="icon" href="/images/favicon.ico">
</head>

<body>
    <nav class='navbar navbar-dark bg-dark bg-body-tertiary'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='/'>
                <img src='/images/BTLogo.png' alt='Logo' width='30' height='24'
                    class='rounded d-inline-block align-text-top' />
                BOOTLEG TWITTER
            </a>
                <nav>
                    {{#if logged_in}}
                    <a href="/profile">Profile</a> 
                    <a href="/">The Branch</a> 
                    <class id="logout">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    <a href="/login">Signup</a>
                    {{/if}}
                </nav>
        </div>
        
        
    </nav>

    <main>
        {{{body}}}
    </main>

</body>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js'
    integrity='sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ'
    crossorigin='anonymous'></script>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js"></script>

{{/if}}
</html>