<div class="welcome">
 <p class="text-center">Welcome to Bootleg Twitter...</p>
 </div>

<div id="typeWriter"></div>  

<div class="container">
  <div class="row">
    <div class="col-9"></div>
    <div class="col-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
  <div class="card-header"><h2>Login</h2></div>
  <div class="card-body">
    <div class='col-md-6'>
    <div class='row'> 
        <form class='form login-form'>
            <div class='form-group'>
                <label for='email-login'>email:</label>
                <input class='form-input' type='text' id='email-login' />
            </div>
            <div class='form-group'>
                <label for='password-login'>password:</label>
                <input class='form-input' type='password' id='password-login' />
            </div>
            <div class='form-group'>
                <button class="login-btn" type='submit'>login</button>
            </div>
        </form>
     </div>
    </div>
  </div>

<div class="card text-white bg-dark mb-3 mt-5" style="max-width: 30rem;">
  <div class="card-header"><h2>Signup</h2></div>
  <div class="card-body">
    <div class='row'> 
    <div class='col-md-6'> 
        <div class='row'>
        <form class='form signup-form'>
            <div class='form-group'>
                <label for='username-signup'>name:</label>
                <input class='form-input' type='text' id='name-signup' />
            </div>
            <div class='form-group'>
                <label for='email-signup'>email:</label>
                <input class='form-input' type='text' id='email-signup' />
            </div>
            <div class='form-group'>
                <label for='password-signup'>password:</label>
                <input class='form-input' type='password' id='password-signup' />
            </div>
            <div class='form-group'>
                <button class="signup-btn" type='submit'>signup</button>
            </div>
        </form>
    </div>
</div>
</div>
    </div>
  </div> 
</div> 
    </div>
    <div class="col-6">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images/hello-kitty-ad.png" class="d-block w-100" alt="./images/BTLogo.png"> 
      <div class="hello-chirp"><p>@TheREALhelloKitty <b>chirped</b> Hello woiedjiweoif </p></div>
    </div>
    <div class="carousel-item">
      <img src="./images/tesla_ad.jpeg" class="d-block w-100" alt="./images/BTLogo.png">
    </div>
    <div class="carousel-item">
      <img src="./images/BTLogo.png" class="d-block w-100" alt="./images/BTLogo.png">
      <div class="bt-chirp"><p>@BootlegTwitter <b>chirped</b> add your ad now! </p></div>
    </div>
  </div>
</div>
</div>
</div>





<script src="/js/login.js"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="/js/typewriter.js"></script>