body {
   background-color:rgb(45, 44, 44); 
} 

.welcome {
    text-align: center; 
    margin-top: 30px; 
    font-size: 70px;
    color: #ffffff;
} 


h2 {
    margin-top: 20px ; 
    margin-left: 20px;
    color: white; 
}

a {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    margin-right: 3px; 
    margin-left: 3px;

    
} 

a:hover {
    color: rgb(255, 38, 255); 
    text-decoration: none;
}

form {
    color: white;
} 

h1 {
    color: white; 
    margin-top: 20px;
} 

.card {
    color: rgb(45, 44, 44); 

}

#logout {
    color: white;
} 

#logout:hover {
    color: rgb(255, 38, 255); 
} 

/*
.message {
    border-radius: 30px;
    background-color:#1DA1F2; 
    margin-left: 200px;
    margin-right: 100px;
}
*/ 

#typeWriter {
    color: white;  
    border-color:black;
    font-size: 30px; 
    margin-bottom: 30px;
    text-align: center;
    animation: 
    typing 2.0s steps(40, end),
    blink-caret .75s step-end infinite;
} 

#typeWriter:hover {
    color: rgb(255, 38, 255);
    transition: 0.3s;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 38, 255); }
}

.login-btn {
    border: 0;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #1DA1F2;
    width: 150px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center; 
}  

.login-btn:hover {
    color: rgb(255, 38, 255);
    background-color: rgb(0, 100, 231);
    transition: 0.3s;
} 

.form {
    font-size: 20px; 
    margin-left: 20px; 
    flex-wrap: wrap;
} 

.signup-btn {
    border: 0;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #1DA1F2;
    width: 150px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center; 
}  

.signup-btn:hover {
    color: rgb(255, 38, 255);
    background-color: rgb(0, 100, 231);
    transition: 0.3s;
}  

/*PROFILE CSS */ 

.post {
    border: 0;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #1DA1F2;
    width: 150px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center; 
}  

.post:hover {
    color: rgb(255, 38, 255);
}  

#delete {
    border: 0;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #1DA1F2;
    width: 150px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;  
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 100px;
}  

#delete:hover {
    color: rgb(255, 38, 255);
} 

.list-group {
    color: black; 
    list-style-type: none; 
    font-size: 20px; 
    margin-bottom: 50px; 
    margin-top: 50px; 

} 

.chirp.content {
    margin-bottom: 30px;
} 

/* Carousel */ 

.carousel {
    width:840px;
    height:560px;  
    z-index: -1;
  } 

  .carousel-control-prev {
    background-color: rgb(45, 44, 44); 
  } 

  .hello-chirp {
    color: white; 
    font-size:30px; 
    margin-top: 10px;
  } 

  b {
    color: #1DA1F2;
  } 

  .bt-chirp {
    color: white; 
    font-size:30px; 
    margin-top: 10px;
  } 

  @media screen and (max-width: 768px) {
    .carousel {
      display: none;
    }
  }