body {
   background-color:rgb(45, 44, 44); 
} 

h2 {
    margin-top: 10px;
    color: white;
}

a {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    margin-right: 3px; 
    margin-left: 3px;

    
} 

a:hover {
    color: #1DA1F2; 
    text-decoration: none;
}

form {
    color: white;
} 

h1 {
    color: white;
} 

#logout {
    color: white;
} 

#logout:hover {
    color: #1DA1F2; 
} 

#typeWriter {
    color: white; 
    font-size: 25px; 
} 

.login-btn {
    border: 0;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #1DA1F2;
    width: 150px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center; 
}  

.login-btn:hover {
    color: #2313f6;
}
